.navbar{
    padding: 20px 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: absolute; /* or fixed */
    z-index: 10;
    width: 100%;
    top: 0;
}


.navbar .logo {
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: tomato;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: tomato;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: tomato;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}

.react-icon{
    color: tomato;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position: relative;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
display: flex;
flex-direction: column;
gap: 10px;
background-color: #fff;
padding: 12px 25px;
border-radius: 4px;
border: 1px solid tomato;
outline: 2px solid tomato;
list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

.nav-profile-dropdown img {
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}

.react-icon{
    font-size: 2.5rem;
}

.profile-icon {
  filter: brightness(5) saturate(100%) invert(50%) sepia(98%) saturate(670%) hue-rotate(339deg) brightness(93%) contrast(98%);
}


@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap:  15px ;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px) {
    
    .navbar-menu{
        display: none;
    }
    
}