@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 100%;
  margin: auto;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.home-wrapper {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('hero-img.jpg') no-repeat center center;
  background-size: cover;
  height: 90vh;
}
