.food-display{  
    margin:4rem 4rem; 
}  
.food-display h2{  
    font-size: max(2vw, 24px);  
    font-weight: 600;  
    color: #262626;
    margin-bottom: 0;
}  
.food-display-list{  
    display: grid;  
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));  
    margin-top: 40px;  
    gap: 35px;  
    row-gap: 40px;
}